<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment_KienND9_SearchView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1C10B111DCD76E4009915B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C10B251DCD76E4009915B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C10B301DCD76E5009915B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
